.CounterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;

  &__mark {
    position: absolute;
    top: 18%;
  }

  &:last-child {
    span {
      top: 22%;
    }
  }
}